<div class="row">
    <div class="col-sm-4 hidden-xs">
    </div>
    <div class="col-sm-8 col-xs-12">
        <ul ng-cloak style="list-style:none;">
            <li ng-repeat="like in likes">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div>
                            <strong>{{ like.author }}</strong>
                            <div class="pull-right">
                                <span class="text-muted">1h</span>
                            </div>
                        </div>
                        <div>
                            <a href="{{ like.url }}">{{ like.title }}</a>
                        </div>
                        <div>
                            <span class="text-muted">{{ like.subreddit }}</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
