<%inherit file="base.html"/>

<%include file="includes/navbar.html"/>

<div ng-view></div>

<%block name="css">
<style>
    body {
        padding-top: 70px;
    }
</style>
</%block>

<%block name="js">
<script src="${url_for('static', filename='js/angular/angular.js')}"></script>
<script src="${url_for('static', filename='js/angular-route/angular-route.min.js')}"></script>
<script src="${url_for('static', filename='js/upvotebay/app.js')}"></script>
<script src="${url_for('static', filename='js/upvotebay/controllers.js')}"></script>
</%block>
